
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action(nameof(PeopleController.List))" class="btn btn-default">Show all People</a>

<h3>Most active people</h3>
@Html.Action(nameof(PeopleController.MostActivePeople),  new { count = 4 })

<h3>Recently added people</h3>
@Html.Action(nameof(PeopleController.RecentlyAddedPeople),  new { count = 4 })
