
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>

<h3>Cities</h3>
@Html.Action(nameof(CityArrayWeb.Controllers.CityController.MostReviewedCities), "City", new { count = 4 })

<h3>Reviews</h3>
@Html.Action(nameof(CityArrayWeb.Controllers.ReviewsController.RecentReviews), "Reviews", new { count = 4 })

<h3>Wishes</h3>
@Html.Action(nameof(CityArrayWeb.Controllers.WishesController.RecentWishes), "Wishes", new { count = 4 })

<h3>People</h3>
@Html.Action(nameof(CityArrayWeb.Controllers.PeopleController.MostActivePeople), "People", new { count = 4 })


